body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    overflow: hidden;
    transition: background-color: 0.1s linear;
}

#wish-container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.control-icon {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
}

.control-icon:hover {
    transform: scale(1.1);
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#spray-text {
    font-size: 0.8em;
    margin-top: 5px;
}